/* @font */
@font-face {
    font-family: Relaway;
    src: url(fonts/Raleway/static/Raleway-Medium.ttf);
}
@font-face {
    font-family: Relaway-Bold;
    src: url(fonts/Raleway/static/Raleway-Bold.ttf);
}
/* Général */
html {
    font-family: Relaway;
}
body {
    margin: 0;
}
#main {
    margin-left: 54px;
    margin-right: 54px;
}
.bold {
    font-family: Relaway-Bold;
}
h2 {
    font-family: Relaway-Bold;
    margin: 5 0 5 0;
}
h4 {
    font-family: Relaway-Bold;
    margin: 10px 0 10px 0px;
}
p {
    margin: 5 0 5 0;
}
.padding_tb_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.light_grey_bg {
    background-color: #F2F2F2;
    border-radius: 20px;
}
#card, #small_card {
    box-shadow: 0px 0px 10px #8F8F8F;
}
/* NAVIGATION */
nav {
    width: 100%;
}
#header_container {
    display: flex;
    justify-content: space-between;
}
#logo {
    margin: 25px 25px 25px 0px;
}
nav li {
    display: inline-block;
    margin: 25px;
}
li {
    list-style: none;
}
a {
    text-decoration: none ;
}
#navigation li a {
    line-height: 1em ;
    text-align: center ;
    margin: 0;
    padding: 36px 0px 0px 0px;
}
#navigation li a:hover {
    color: #0065FC;
    border-top: solid #0065FC;
}
.blue_link {
    color: #0065FC;
}
/* RECHERCHE*/
#recherche_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#recherche_container #element, #element_1, #element_2, #element_3 {
    margin: 10 0 10 0;
}
#searchbar_container {
    display: flex;
}
#searchbar_container #element_1, #element_2, #element_3 {
    height: 50px;
}
#searchbar_container #element_1 {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}
#searchbar_container #element_1 i {
    font-size: 20px;
    padding: 15px;
}
#searchbar_container #element_3 button {
    background-color:  #0065FC;
    border: none;
    color: #FFFFFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px 10px 10px 0px;
}
#searchbar_container #element_2 input {
    font-size: 16px;
    color: #000000;
    height: 50px;
    width: 230px;
    border: solid;
    border-width: thin;
    border-color:#F2F2F2 transparent #F2F2F2 transparent;
}
/* FILTRES */
#filtres_container {
    display: flex;
}
#filtres_container #element {
    margin: 20px;
}
#filtres_container #element i {
    border-radius: 90%;
    color: #0065FC;
    padding: 16px;
    background-color: #DEEBFF;
}
#filtres_container #element p {
    font-family: Relaway-Bold;
    margin: 0px;
}
#filtres_container #element button {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: solid;
    border-color: #F2F2F2;
    border-radius: 90px;
    padding: 0px;
    transition-duration: 0.4s;
}
#filtres_container #element button:hover {
    background-color: #DEEBFF;
  }
#filter_button {
    display: flex;
    justify-content: space-between;
}
#filter_button p {
    padding: 16px 20px 0px 20px;
}
/* INFOS */
#infos_container {
    display: flex;
}
#infos_container #element {
    margin: 20px 5px 20px 5px;
}
#infos_container #element p {
    margin: 0;
    padding: 10px 10px 5px 10px;
}
#infos_container #element i {
    border-radius: 90%;
    color: #0065FC;
    border: solid;
    border-color: #F2F2F2;
    padding: 5px 10px 5px 10px;
}
/* _ */
#hebergement_section {
    display: flex;
    justify-content: space-between;
}
.grey_star {
    color: #F2F2F2!important;
}
#card section i {
    color: #0065FC;
}
.stars {
    font-size: 12px;
}
#card {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 30px;
}
/* HÉBERGEMENT */
#hebergement_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 65%;
}
#hebergement_container #element {
    width: 100%;
    padding: 0px 30px 0px 30px;
}
#hebergement_container #card {
    width: 25%;
    border-radius: 10px 10px 10px 10px;
}
#hebergement_container #card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 115px;
    object-fit: cover;
}
/* LES PLUS POPULAIRES */
#plus_populaires_container {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
#title_container {
    display: flex;
    padding: 0px 30px 0px 30px;
}
#title_container div {
    margin-right: 50px;
}
#title_container .icon {
    margin: 5 0 5 0;
    font-size: 20px;
}
#title_container .icon i {
    margin-top: 33.33%;
}
#plus_populaires_container #element {
    width: 100%;
}
#plus_populaires_container #card {
    border-radius: 10px 10px 10px 10px;
}
#plus_populaires_container #card a {
    display: flex;
    width: 100%;
}
#plus_populaires_container #card img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    height: 130px;
    object-fit: cover;
}
#plus_populaires_container section {
    padding: 0px 10px 0px 10px;
}
#plus_populaires_container .stars {
    padding-top: 25px;
}
/* ACTIVITÉS */
.pt_30 {
    padding-top: 30px;
}
#activites_container {
    display: flex;
    flex-wrap: nowrap;
}
#activites_container #element {
    width: 100%;
}
#activites_container #card {
    width: 25%;
    padding: 0;
    border-radius: 10px 10px 10px 10px;
}
#activites_container #card img {
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0px 0px;
}
#activites_container img {
    object-fit: cover;
}
#activites_container h4 {
    padding-left: 10px;
}
.hight {
    height: 450px;
}
.intermediate {
    height: 250px;
}
.mid {
    height: 200px;
}
.small {
    height: 150px;
}
#small_card {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
    border-radius: 10px 10px 10px 10px;
}
#double_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 0;
    margin: 30px;
}
#double_card #small_card img {
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
}
.ml_0 {
    margin-left: 0px!important;
}
.mr_0 {
    margin-right: 0px!important;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #F2F2F2;
}
footer #element {
    width: 40%;
    padding: 2% 0 2% 0;
}
footer #element h4 {
    padding-left: 40px;
    
}
#footer #element ul li {
    padding: 5px 0px 5px 0px;
}
a {
    color: #000000;
}